<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/authentication.css">
    <title>Registeration Page</title>
</head>
<body>
    <form action="/Blog%20Doors/register%20form" method="post" name="form1">
        <h2>create account</h2>
        <input type="text" name="username" id="" placeholder="Name">
        <input type="email" name="email" id="" placeholder="Email">
        <input type="password" name="password" id="" placeholder="Password">
        <input type="submit" value="Register">
    </form>
</body>
</html>