<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/techno.css">
    <title>Technology Blog</title>
</head>
<body>
    <header>
        <a href="/backToMainPage">←</a>
        <label>Welcom back <%=user %></label>
        <div>
            <img src="/images/addWhite.png" alt="add">
            <a href="/Blog Doors/post add?type=techno">add post</a>
        </div>
    </header>
    <%- include('partials/postAndComment.ejs') %>
</body>
</html>